QWidget{
	background-color:white;
	color: black;
}
/* QPushButton{
	border:5px dotted blue;
} */

QPushButton:pressed{
	background-color:orange;
}

QPushButton#btnCancel:hover{
	background-color: red;
	color:white;
}
QPushButton#btnCancel:pressed{
	background-color:orange;
}

QLabel{
	color:aqua;
	font-size: 30px;
}
